<!-- tweet partial -->
<div class="tweet">
  <h4 style="margin-top: 3px; margin-bottom: 0; display: inline-block;">@<%= tweets.author  %></h4>
  <p style="text-align: right; margin-top: 2px; margin-bottom: 2px; display: inline; float: right;"><%= time_ago_in_words(tweets.created_at) %> ago</p>
  <p><%= tweets.body  %></p>
  <% if logged_in && @current_user.username == "Cyrus" %>
    <%= link_to "Delete Tweet", tweet_path(tweets), method: :delete%>
  <% end %>
</div>
