/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#logo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 120px;
  display: inline;
  margin: 20px 0;
}

#sub-logo {
  clear: both;
}

#login-sign-up {
  display: inline-block;
  float: right;
}

#articles-container {
  position: absolute;
  border: 10px solid orange;
}

.article {
  width: 700px;
  background-color: lightblue;
  padding: 10px;
}

#tweets-container {
  float: right;
  width: 520px;
  position: relative;
}

.tweet {
  background-color: lightblue;
  border-radius: 20px;
  padding: 5px;
  margin: 5px 0;
}
