<!DOCTYPE html>
<html>
<head>
  <title>ZeusJuice</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @current_uri != root_path %>
    <div class="other-header">
      <h1 style="font-size: 40px; font-family: 'Raleway', sans-serif; text-align: center;">zFit
      </h1>
    </div>
  <% end %>
<%= yield %>

<footer>
  <div class="container">
    <p>
      &copy; zFit 2015
    </p>
  </div>
</footer>
</body>
</html>
