<h2>Welcome <%= @member.username %></h2>
<h2>Stats</h2>
<h3>Calorie Intake</h3>
<h3>Exercise Minutes</h3>
<h3>Journal Rate</h3>
<h2>Live Feed Contributions</h2>
<h3>(count)</h3>
<h2>Journal</h2>
<h3>(count)</h3>
